<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Okcode edu</a>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="user-avatar"  src="https://hpconnect.vn/wp-content/uploads/2020/02/anh-dep-cau-rong-da-nang-viet-nam-10.jpg"/>
            Oanh Ta
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Đăng khóa học</a> </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/me/stored/courses">Khóa học của tôi</a> </li>
            <li><a class="dropdown-item" href="">Bài viết của tôi</a> </li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>